/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rounded-borders {
  border: 1px solid rgb(194, 193, 193);
  border-radius: 4px;
}

.light-gray-background {
  color: black;
  background-color: rgb(233, 233, 233);
}

.dark-gray-background {
  color: white;
  background-color: rgb(150, 150, 150);
}

.container {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

/* nav */
nav {
  border-bottom: 1px solid rgb(194, 193, 193);
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

nav::after {
  content: '0';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

nav ul.tabs {
  width: 60%;
  float: left;
  list-style-type: none;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 12px;
}
.tabs li {
  display: inline;
  padding-right: 40px;
}

nav div.session-details {
  width: 35%;
  float: left;
  padding-top: 20px;
  padding-bottom: 12px;
}

.session-details > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.session-details img {
  width: 25px;
}

/* Login */
.login {
  width: 100%;
  text-align: center;
}

.login .heading {
  padding-top: 15px;
  padding-bottom: 15px;
}

.login .heading h2 {
  margin-bottom: 10px;
}

.login .details {
  padding-top: 25px;
  padding-bottom: 25px;
}

.login .details>p {
  margin-bottom: 30px;
}

.login .users-list li {
  max-width: 200px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.login .users-list img {
  width: 40px;
  margin-bottom: 5px;
}

/* Questions list */
.questions-list .category-select {

}

.category-select button {
  width: 50%;
  padding: 10px;
}

.category-select button:focus {
  outline: 0;
}

.active-tab {
  background-color: rgb(231, 231, 231);
}

.inactive-tab {
  background-color: white;
}

.questions-list .list {
  list-style-type: none;
  padding: 25px;
}
